*{
    box-sizing: border-box;/* css3 property*/
    zoom:1;
}
.main-nav ul{
    display: flex;/* CSS3 property*/
    flex-wrap:wrap;
    gap:30px;
    /* Reset UL default style*/
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    font-size:larger;
}
.main-nav a{
    text-decoration: none;
    color:white;
    font-weight:bold;
}
.main-nav a:hover{
    text-decoration:white underline;
}
.site-logo{
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color:white;
    font-style:oblique;
} 
.header{
    background-color:#ea940c;
    padding:10px;
    border-bottom-right-radius:125px;
}
body{
    margin:0;
    background-color:whitesmoke;/*c0cfd0*/
    display:flex;
    flex-direction:column;
    padding:0;
    height:100%;
    min-height:100vh;
}
main{
    flex:1;
    margin-bottom:100px;
}
.row{
    max-width: 1200px;
    margin: 0 auto;
}
/* .row of .header*/ 
.header .row{
    display:flex;
    flex-wrap: wrap;/*move item to new line, if space is not sufficient for the item*/
    justify-content: space-between;/* horizontal align*/
    align-items:center;/*vertical align*/
}


/*home page */
#main .page-title{
    color:#ea940c;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-style: oblique;
    
}

.footer-maindiv{
    margin-bottom:250px;
}

/*table data css */
.table-container{
    margin-left:50px;
    margin-right:50px;
    margin-top:10px;
}

.display{
    width:50%;
    border-collapse: collapse;
    padding:10px;
}
.display tr:nth-child(even){
    background-color:white;
}
.display th{
    background-color:#ea940c;
    color:white;
}

.table-container a{
    text-decoration:none;
    color:#ea940c;
    font-size:19px;
    font-style:oblique;
    border-radius:3px;
}
.table-container a:hover{
    text-decoration:#ea940c underline;
}
.table-container #sample{
    margin-bottom:350px;
}
.table-title{
    margin-left:80px;
    margin-top:10px;
    font-size:19px;
    margin-bottom:10px;
    text-decoration:underline;
    padding:10px;
    font-weight:bold;

}

/*CSS for about page
.about-container{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 50px 0 auto auto; 
    margin-left:10px;
}
.about-img{
    flex:1;
    width:500px;
    margin: 0px 25px;
  
}
.about-text{
    flex:1;
    width:500px;
    margin-left:30px;
    text-align:justify;
    text-justify:inter-word;
}
.about-text p{
    font-size:19px;
    font-family:Arial, Helvetica, sans-serif;
    line-height:1.5;
    color:black;
}*/
.about-container{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 50px 0 auto auto; 
    margin-left:10px;
    margin-right:10px;
}
.about-img{
    flex:1;
    width:100%;
    margin: 0px 15px;
  
}
.about-text-box{
    flex:1;
    width:800px;
    margin-right:8px;
    text-align:justify;
    text-justify:inter-word;
}
.about-text p{
    font-size:19px;
    font-family:Arial, Helvetica, sans-serif;
    line-height:1;
    margin-left:30px;
    margin-right:30px;
    color:black;
}

/*CSS for footer*/
.footer{
    width:100%;
    /*bottom:0;*/
    /*position:relative;*/
    background-color:#ea940c;
    color:white;
    padding:30px 0;
    text-align: center;
    font-size:14px;
    border-top-left-radius:125px;
}

.footer-container{
    width:80%;
    display:flex;
    flex-wrap:wrap;
    margin-left:80px;
    justify-content:space-between;
    line-height:20px;
    align-items:flex-start;
}

.footer-container1{
    width:30%;
    padding:10px;
    display:block;
    text-align:justify;
    text-justify:inter-word
}
.footer-container2{
    width:25%;
    padding:10px;
    text-align:justify;
    text-justify:inter-word;
}
.footer-container3{
    width:25%;
    padding:10px;
    margin-right:30px;
}
.footer-container1 ul li{
    list-style-type:none;
    margin-bottom:12px;
    text-align:left;
}

.footer-container1 ul li a{
    text-decoration:none;
    color:white;
}
.footer-container1 h3{
    margin-bottom:19px;

}
hr{
    width:90%;
    margin:20px auto;
}


/*css all form*/
form{
    max-width:350px;
    margin:0 auto;
    padding: 15px;
}
.field{
    margin-bottom:10px;
    margin-left:30px;
    margin-right:30px;
}
input{
    width:100%;
    padding:3px 10px;
    border-radius:10px;
    border-color:#c8d7f6;
    height:35px;
}
label{
    display:block;
}
button{
    background-color:#ea940c;
    cursor: pointer;
    border-radius:10px;
    border: 0;
    padding :10px 30px;
    color:#fff;
    font-weight:bold;
    margin-left:30px;
}
.form-title{
    text-align:center;
    font-size:20px;
    margin:10px;
    padding:10px;
    font-weight:bold;
}
.another-page{
    display:block;
    margin-left:190px;
}
.another-page a{
    text-decoration:none;
    color:#ea940c;
    font-weight:bold;
}
.another-page a:hover{
    color:white;
    background-color:#ea940c;
}
#login-message{
    margin-left:620px;
    margin-top:0;
}
#login-message a{
    text-decoration:none;
}
#login-message a:hover{
    text-decoration:underline;
}

/*css for homepage login form*/
.container{
    margin-top:30px;
    display:flex;
    margin-left:50px;
    justify-content:space-between;
    color:black;
}
.container1{
    width:30%;
    background-color:white;
    align-items:center;
    border-radius:10px;
    padding:30px;
}

.container1 ul li{
    list-style-type:none;
}

h5{
    text-decoration:solid black underline;
}
.container2{
    width:70%;
    margin-left:50px;
    background-color:white;
    margin-right:70px;
    border-radius:10px;
    padding:30px 30px 30px 0px; /*top,right,bottom,left */
}
.container2 form{
    width:100%;
    padding:3px 3px 10px 0px;
}
.container2 input{
    width:450px;
    padding:3px 10px;
    border-color: #ea940c;
    height:35px;
    border-radius:10px;
}
.fields{
    margin-bottom:10px;
    margin-left:0px;
    margin-right:30px;
}
label{
    font-weight:bold;
}
.container2 button{
    background-color:#ea940c;
    cursor: pointer;
    border-radius:6px;
    border: 0;
    padding :10px 30px;
    color:#fff;
    font-weight:bold;
    margin-left:0;
}
.container2 #register{
    color:#ea904c;
    margin-left:280px;
    
}
.container2 a{
    text-decoration:none;
}
.container a:hover{
    text-decoration:underline;
}


/*updated*/
/*css for box of login_dashboard or say user_dashboard*/
.user-box-container {
  display: flex;
  justify-content: center;  
  gap: 30px;
  padding: 40px 20px;
}

.user-box {
  display: block;
  width: 260px;       
  height: 130px;       
  line-height: 130px;  
  background: #ea940c;
  border-radius: 40px;  
  text-align: center;
  text-decoration: none;
  color: #f8f3f3;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.2s;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.user-box:hover {
  background-color: #f57979;
}

.view_user_details{
  max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border: 2px solid #ed590f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial;
}


/*admin dashboard update*/
.dashboard_container {
    display: flex;/*arrange child boxes in a row (side by side, not one below the other).*/
    flex-wrap: wrap; /*Allows the boxes to move to the next line if there's not enough space on the screen.*/
    gap: 20px;/* space between the boxes, both horizontally and vertically.*/
    justify-content: center;
    margin-top: 30px;
}

.dashboard_card {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    width: 200px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.dashboard_card p {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}

.dashboard_card a {
    /*text-decoration: none;*/
    padding: 8px 16px;
    /*border-radius: 5px;*/
    color: white;
    font-weight: bold;
}

.btn-green {
    background-color: #28a745;
}

.btn-red {
    background-color: #dc3545;
}

.btn-blue {
    background-color: #007bff;
}

.btn-yellow {
    background-color: #ffc107;
   
}

/*for contact form*/
textarea{
    padding:3px 10px;
    border-radius:10px;
    border-color:#c8d7f6;
}
/*update*/
.output-container {
    margin-top: 20px auto;   
    margin-bottom: 10px; 
    margin-left: 520px;        
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    background-color: #ccc;
    align-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
}

.edit_profile{
    margin-left:520px;

}
.edit_profile_back_to_dashboard a{
    margin-left:520px;
     text-decoration:none;
    color:#ea940c;
    font-weight:bold;
}
.edit_profile_back_to_dashboard a:hover{
    color:white;
    background-color:#ea940c;
}
/*update
/css for the feedback page*/
.feedback-page{
    width:350px;
    margin-left:620px;
}
.feedbacks{
    border:3px solid #ea940c;
    margin:19px;
    padding:10px;
    border-radius:10px;
    background-color:white;
}

/*.delete-message-container {
    width: 200px; /* same width as dashboard_card 
    margin: 10px auto 0 auto; /* 10px top margin, horizontally centered 
    text-align: center;
    font-weight: bold;
    color: #28a745; /* green for success message*
}

.delete-message-container a {
    display: inline-block;
    margin-left: 10px;
    color: #007bff; /* link color 
    font-weight: normal;
    text-decoration: underline;
}*/
/* form css(updated)
.form_box{
    width:600px;
    margin:60px auto;
    padding:20px;
    border:1px solid grey;
    background-color: #f8f8f8;
    text-align: left;
}
.footer {
    background-color: #f2f2f2; /* Light background 
    color: #333; /* Dark text for contrast 
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.footer p {
    margin: 0;
}*/